@{
Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!-- Start slides -->
<div id="slides" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/images/slider-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chào Mừng Đến Với <br> Đại Học FPT</strong></h1>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/login/index">lOGIN</a></p>
                        <p class="m-b-40" style="font-size: 40px; font-weight: bold;">Kiến Trúc Hiện Đại</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/images/slider-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chào Mừng Đến Với <br> Đại Học FPT</strong></h1>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/login/index">lOGIN</a></p>
                        <p class="m-b-40" style="font-size: 40px; font-weight: bold;">Đảm Bảo An Ninh</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/images/slider-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chào Mừng Đến Với <br> Đại Học FPT</strong></h1>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/login/index">lOGIN</a></p>
                        <p class="m-b-40" style="font-size: 40px; font-weight: bold;">Đầy Đủ Tiện Nghi</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End slides -->
<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/images/about-img.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Thông tin <span>Ký túc xá Đại Học FPT</span></h1>
                    <h4></h4>
                    <p> Trường Đại học FPT là một trong những ngôi trường nổi tiếng đào tạo đa ngành, với chất lượng đào tạo đạt chuẩn quốc tế. Trường không chỉ quan tâm đến chất lượng đào tạo, công tác tuyển sinh mà còn chăm lo cho đời sống sinh viên.</p>
                    <p>Bằng việc đầu tư, xây dựng khu Ký túc xá xịn sò. Đầy đủ trang thiết bị cần thiết, không gian thoáng mát, sạch sẽ. Để đáp ứng nhu cầu và tạo không gian học tập, sinh hoạt thoải mái nhất cho sinh viên. KTX cũng được xem như ngôi nhà thứ 2 của nhiều sinh viên.</p>
                    <a class="btn btn-lg btn-circle btn-outline-new-white" href="/login/index">More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-left">
                <p class="lead ">
                    " Càng kinh qua nhiều thất bại thì cơ hội thành công càng cao. Muốn ra biển lớn cần có sự liều lĩnh, ý chí và quyết tâm xông pha của lãnh đạo "
                </p>
                <span class="lead">Chủ tịch: Trương Gia Bình.</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->
<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Các Loại Phòng</h2>
                    <p>Ký túc xá của trường Đại học FPT là chỗ ở dành riêng cho sinh viên của Đại học FPT.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".drinks">Doom A</button>
                        <button data-filter=".lunch">Doom B</button>
                        <button data-filter=".dinner">Doom C</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="~/images/img-01.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Phòng 2 người A</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="~/images/img-02.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Phòng 4 người A</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="~/images/img-03.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Phòng 6 người A</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="~/images/img-04.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Phòng 2 người B</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="~/images/img-05.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Phòng 4 người B</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="~/images/img-06.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Phòng 6 người B</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="~/images/img-07.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Phòng 2 người C</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="~/images/img-08.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Phòng 4 người C</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="~/images/img-09.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Phòng 6 người C</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Menu -->
<!-- Start Gallery -->
<div class="about-section-box">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Khi Ở Ký Túc Xá cần <span>Lưu Ý Điều Gì?</span></h1>
                    <h4></h4>

                    <ul style="text-align: start; ">

                        <li>Không được nuôi vật nuôi, thú cưng (chó, mèo,...).</li>
                        <li>Không được uống rượu, bia, chơi cờ bạc, sử dụng các chất kích thích và chất cấm.</li>
                        <li>Không được nấu ăn trong ký túc xá.</li>
                        <li>Không được đưa người lạ không ở trong ký túc xá vào phòng sau giờ giới nghiêm.</li>
                        <li>Giờ giới nghiêm trong ký túc xá là sau 10 giờ 30 phút tối.</li>
                        <li>Giữ gìn vệ sinh chung và đổ rác trước 9 giờ sáng.</li>
                    </ul>
                    <h1>Tất cả các lỗi vi phạm đều bị trừ điểm uy tín dựa trên mức độ lỗi vi phạm.</h1>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/images/about-img.jpg" alt="" class="img-fluid img-fluid1">
            </div>
            <!-- Start Contact -->
            <div class="contact-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-title text-center">
                                <h2>Contact</h2>
                                <p>Send The Contact Make We Better Day By Day</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Form is here -->
                            <form id="contact-Form" action="feedback/index"  method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        
                                        <div class="form-group">
@*                                            <input type="text" class="form-control" id="name" name="title" placeholder="Tittle" required data-error="Please enter your Title">
*@                                            

                                            <input type="text" name="title" placeholder="Tittle" />
<div class="help-block with-errors">
</div>
                                       
                                <input type="text" name="message" placeholder="Message" />
                                <input type="submit" value="Submit"/>
                                    @*<div class="col-md-12">
                                        <div class="form-group">

                                            <intput type="text" name="fb"/>
                                           @* <textarea name="getfeedback" class="form-control" id="message" placeholder="Your Message" rows="4" data-error="Write your message" required></textarea>
                                            <div class="help-block with-errors"></div>*@
                                      @*  </div>
                                        <div class="submit-button text-center">
                                            <!-- Change the onclick function to show SweetAlert -->
                                            <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                                            <div class="clearfix"></div>
                                        </div>*@
                                   @* </div>*@
                                
                            </form>
                            <!-- End form is here -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contact -->
        </div>
    </div>
</div>
<!-- End Gallery -->